<h1>¡Tres en ralla con amigos!</h1>
        <h2>Turno del jugador </h2>

        <table>
            <tr>
                <td (click)="writeText(0)"></td>
                <td (click)="writeText(1)"></td>
                <td (click)="writeText(2)"></td>
            </tr>
            <tr>
                <td (click)="writeText(3)"></td>
                <td (click)="writeText(4)"></td>
                <td (click)="writeText(5)"></td>
            </tr>
            <tr>
                <td (click)="writeText(6)"></td>
                <td (click)="writeText(7)"></td>
                <td (click)="writeText(8)"></td>  
            </tr>
        </table>

        <div *ngIf="this.jugadorX.getTorn(); then turnoX else turnoO"></div>

        <ng-template #turnoX>
            <h2>Turno: jugador X</h2>
        </ng-template>
        <ng-template #turnoO>
            <h2>Turno: jugador O</h2>
        </ng-template>